@import 'foundation';

body {
  background: #F3F3F3;
}

.container {
  width: 200px;
  padding-top: 150px;
  margin: auto;

  button {
    width: 110px;
    height: 50px;
    border-radius: 8px;
    background-color: #AFAFAF;
    outline: none;
  }
}
